---

---
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
          <div class="about-img">
            <img src="/assets/img/about.webp" alt="">
          </div>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>Con decir que tenemos experiencia es poco, tenemos historia en nuestra atención.</h3>
          <br>
          <hr>
          <br>
          <p class="fst-italic">
            Romano nació como una idea de familia, allá por el año 1995, donde la música y la comida eran el plan perfecto para pasar un buen momento.<br>
            Luego de eso invertimos mucho para conseguir fortalecer los siguientes ítems:
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> Lugar Más Amplio, ubicado en una esquina, con ventanas enormes.</li>
            <li><i class="bi bi-check-circle"></i> Buenas iluminación, mesas y sillas de un estilo clásico, todo madera.</li>
            <li><i class="bi bi-check-circle"></i> Conseguimos proveedores internacionales para las bebidas extrañas, y fortalecimos lazos con los proveedores locales de insumos, comidas y bebidas.</li>
          </ul>
          <br>
          <p>
            Lo demás es puro trabajo duro, historia y sacrificio. si de algo nos destacamos tambien, fue en cuidar a los nuestros, y contratar gente joven, aquellos que
            buscan su primera experiencia laboral.
          </p>
        </div>
      </div>
    </div>
  </section>