---

---
<section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contacto</h2>
        <p>Encuéntranos</p>
      </div>
    </div>

    <div>
      <iframe style="border:0; width: 100%; height: 350px;" 
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d312.9972525541549!2d-65.61633827666155!3d-27.433134012395985!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9423c5f4e1d5129b%3A0x83fd030515f32052!2sROMA%20BAR!5e0!3m2!1ses-419!2sar!4v1676347411138!5m2!1ses-419!2sar" frameborder="0" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="container">

      <div class="row mt-5">

        <div class="col-lg-4">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Ubicación:</h4>
              <p>Esquina Gorriti y Juan Bautista Alberdi</p>
            </div>

            <div class="open-hours">
              <i class="bi bi-clock"></i>
              <h4>Dias y Horarios:</h4>
              <p>
                Lunes a Domingos 24hs
              </p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Redes Sociales:</h4>
              <a href="https://www.instagram.com/roma__bar/?theme=dark" target="
                ">&emsp;Instagram</a>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Teléfono / Whatsapp:</h4>
              <a href="https://wa.me/+543865555686" target="_blank">&emsp;(3865) 555686</a>
            </div>

          </div>

        </div>

        <div class="col-lg-8 mt-5 mt-lg-0">

          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="8" placeholder="Mensaje" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Cargando</div>
              <div class="error-message"></div>
              <div class="sent-message">¡Consulta enviada!</div>
            </div>
            <div class="text-center"><button type="submit">Enviar</button></div>
          </form>

        </div>

      </div>

    </div>
  </section>