---

---
<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Romano <img src="/assets/img/romano-black-logo.webp" alt="Romano Logo" style="height: 26px; vertical-align: middle;"></h3>
              <p>
                Esquina Gorriti y Juan Bautista Alberdi<br><br>
                <strong>Teléfono:</strong> <a href="https://wa.me/+543865555686" target="_blank">(3865) 555686</a><br>
                <strong>Instagram:</strong> <a href="https://www.instagram.com/roma__bar/?theme=dark" target="_blank">Instagram</a><br>
              </p>
              <div class="social-links mt-3">
                <a href="https://www.facebook.com/roma.bar.aguilares/" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/roma__bar/?theme=dark" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Enlaces y Referencias</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Inicio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Sobre Nosotros</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Menú</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Términos y Condiciones</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Política de Privacidad</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Sobre este sitio</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://cristian021195.github.io/portfolio" target="_blank">Diseño Web</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://cristian021195.github.io/portfolio" target="_blank">Desarrollo Web</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://cristian021195.github.io/portfolio" target="_blank">Product Manager</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://cristian021195.github.io/portfolio" target="_blank">Marketing</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Reciba Información y Promociones Actuales</h4>
            <i><p>" Tenga en cuenta que la información brindada en cuanto a promociones puede variar, siempre consultar telefónicamente. "</p></i>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Suscribirse">
            </form>
          </div>
        </div>
      </div>
    </div>
  </footer>