---
import GalleryPic from "../ui/GalleryPic.astro";


---
<section id="gallery" class="gallery">

    <div class="container">
      <div class="section-title">
        <h2>Galeria</h2>
        <p>Asi es como cuidamos a nuestro Restarante</p>
      </div>
    </div>

    <div class="container-fluid" data-aos-delay="100">

      <div class="row g-0">

        <GalleryPic img="/assets/img/gallery/gallery-1.webp" alt="foto galeria 1"/>
        <GalleryPic img="/assets/img/gallery/gallery-2.webp" alt="foto galeria 2"/>
        <GalleryPic img="/assets/img/gallery/gallery-3.webp" alt="foto galeria 3"/>
        <GalleryPic img="/assets/img/gallery/gallery-4.webp" alt="foto galeria 4"/>
        <GalleryPic img="/assets/img/gallery/gallery-5.webp" alt="foto galeria 5"/>
        <GalleryPic img="/assets/img/gallery/gallery-6.webp" alt="foto galeria 6"/>
        <GalleryPic img="/assets/img/gallery/gallery-7.webp" alt="foto galeria 7"/>
        <GalleryPic img="/assets/img/gallery/gallery-8.webp" alt="foto galeria 8"/>

      </div>

    </div>
  </section>