---

---
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

      <a href="#hero" class="me-auto me-lg-0"><img class="" src="/assets/img/romano-black-brand.webp" alt="Romano Bar" style="height: 52px; border-radius:0.25em;"></a>
      <!--  <h1 class="logo me-auto me-lg-0"><a href="index.html">Restaurantly</a></h1>
        Uncomment below if you prefer to use an image logo 
      -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul id="navbar-ul">
          <li id="tag-inicio" ><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
          <li><a class="nav-link scrollto" href="#about">Sobre Nosotros</a></li>
          <li><a class="nav-link scrollto" href="#menu">Menú</a></li>
          <li><a class="nav-link scrollto" href="#specials">Especiales</a></li>
          <li><a class="nav-link scrollto" href="#events">Eventos</a></li>
          <li><a class="nav-link scrollto" href="#chefs">Chefs</a></li>
          <li><a class="nav-link scrollto" href="#gallery">Galería</a></li>
          <!--<li class="dropdown"><a href="#"><span>Locales</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Buenos Aires</a></li>              
              <li><a href="#">Cordoba</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>-->
          <li><a class="nav-link scrollto" href="#contact">Contacto</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      <a href="#book-a-table" class="book-a-table-btn scrollto d-none d-lg-flex">¡RESERVAR!</a>

    </div>
  </header>