---
import SwiperSlideCard from "../ui/SwiperSlideCard.astro";


---
<section id="testimonials" class="testimonials section-bg">
      <div class="container" >

        <div class="section-title">
          <h2>Referencias</h2>
          <p>Mira que opinan algunos de nuetros clientes</p>
        </div>

        <div class="testimonials-slider swiper" data-aos-delay="100">
          <div class="swiper-wrapper">

            <SwiperSlideCard
              title = 'Matias Bottero'
              resume = 'A veces uno quiere tranquilidad para estar en familia o amigos, muchos otros restaurantes fallaban en la privacidad del cliente, Romano deja claro eso desde su ingreso. Soy una persona pública pero a veces necesito relajarme'
              desc = 'Actor &amp; Artista'
              img = 'assets/img/testimonials/bottero.webp'
            />

            <SwiperSlideCard
              title = 'Davo Xeneize'
              resume = 'A veces uno quiere tranquilidad para estar en familia o amigos, muchos otros restaurantes fallaban en la privacidad del cliente, Romano deja claro eso desde su ingreso. Soy una persona pública pero a veces necesito relajarme'
              desc = 'Streamer'
              img = 'assets/img/testimonials/davo.webp'
            />

            <SwiperSlideCard
              title = 'Doc Dan'
              resume = 'A veces uno quiere tranquilidad para estar en familia o amigos, muchos otros restaurantes fallaban en la privacidad del cliente, Romano deja claro eso desde su ingreso. Soy una persona pública pero a veces necesito relajarme'
              desc = 'Influencer'
              img = 'assets/img/testimonials/dan.webp'
            />

            <SwiperSlideCard
              title = 'Luquita Rodriguez'
              resume = 'A veces uno quiere tranquilidad para estar en familia o amigos, muchos otros restaurantes fallaban en la privacidad del cliente, Romano deja claro eso desde su ingreso. Soy una persona pública pero a veces necesito relajarme'
              desc = 'Humorista &amp; Streamer'
              img = 'assets/img/testimonials/luquita.webp'
            />

            <SwiperSlideCard
              title = 'Kevin Johansen'
              resume = 'A veces uno quiere tranquilidad para estar en familia o amigos, muchos otros restaurantes fallaban en la privacidad del cliente, Romano deja claro eso desde su ingreso. Soy una persona pública pero a veces necesito relajarme'
              desc = 'Musico &amp; Artista'
              img = 'assets/img/testimonials/kevin_johansen.webp'
            />

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section>