---
const {
    img='assets/img/gallery/gallery-1.jpg',
    alt='mesas',
} = Astro.props;
---
<div class="col-lg-3 col-md-4">
    <div class="gallery-item d-flex align-items-center" style="height: 20em;">
      <a href={img} class="gallery-lightbox" data-gall="gallery-item">
        <img src={img} alt={alt} class="img-fluid" style="object-fit: contain;">
      </a>
    </div>
</div>